html {
    padding: 10px;
    background-color: rgb(9, 51, 54) ;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: absolute;
}

header {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


a {
    color: rgb(139, 191, 196);
    text-decoration: none;
    font-size: 18px;
    background-color: rgb(44, 44, 122);
    padding: 10px;
    border-radius: 20px;
    float: left;
    border: solid rgb(57, 100, 156) 2px;
    box-shadow: -4px 4px rgba(45, 45, 149, 0.904);
    margin-left: 10px;
}

#timer {
    border: solid rgb(57, 100, 156) 4px;
    background-color:rgba(44, 44, 122, 0.904);
    width: 100px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -5px 2px rgb(37, 67, 107);
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(168, 189, 215);
    margin-right: 45px;

}


main {
  margin-top: 5%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(211, 197, 197);
  font-size: 1.5rem;
}

a:hover {
    border-width: 1px;
    box-shadow: -4px 4px rgba(41, 41, 137, 0.904);
}

#start-btn {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: -2px 2px rgb(255, 255, 255);

}

#start-btn:hover {
    background-color: rgb(220, 223, 224);
    box-shadow: -3px 2px rgb(37, 67, 107);
    cursor: pointer;
    
}

.hidden {
    display: none;
}

#question-div {
width: 80vw;
height: 55vh;
text-align: center;
border-radius: 10px;
gap: 20px;

}

.selection {
    display: block;
    height: 50px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 1px 3px rgb(33, 74, 129);
    background-color:rgba(44, 44, 122, 0.904);
    color: rgb(201, 209, 219);
    font-size: 1.3rem;
    margin: auto;
    margin-top: 15px;
    
}


.selection:hover{
    border-width: 3px;
    border-color: rgb(14, 34, 59);
    border-style: solid;
    cursor: pointer;
}

#question {
    font-size: 2rem;
}

#right-wrong {
    margin-top: 20px;
    font-size: 30px;
    text-decoration: underline 1px;
    background-color: rgba(255, 255, 255, 0.422);
    width: 50%;
    border-radius: 20px;
    text-align: center;
    position: relative;
    left: 185px;
    color: black;
}